
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
      <!--<h1 class="text-light"><a href="index.html"><span>LOGO</span></a></h1>-->
     
      <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid" style="max-width: 434px;
    max-height: 267px;margin-left: -115px;"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a >List your Practice</a></li>
        <li><a  >For Employers</a></li>
        <li><a  >Courses</a></li>
        <li><a >Books</a></li>
        <li><a >Speakers</a></li>
        <li><a >Doctors</a></li>
      
        <li class="dropdown"><a ><span>Login/Signup</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
       
            <li class="dropdown"><a ><span>Doctor</span></a>
              <!-- <ul>
                <li><a href="/upgrades">Upgrades & Implementation</a></li>
                <li><a href="/managed-services">Managed Services</a></li>
              </ul> -->
            </li>
            <li class="dropdown"><a><span>Patients</span> <i class="bi bi-chevron-right"></i></a>
              
            </li>
           
          </ul>
        </li>

        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->



 <!-- Hero Section -->
<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up" style="display:flex; justify-content: space-between; align-items: center;">
    <!-- Image Columns -->
    <div class="hero-images">
      <div class="column4">
        <img src="assets/img/c2i1.png" alt="Image 15" class="move-bottom-top" style="animation-delay: 12s;">
        <img src="assets/img/c2i2.png" alt="Image 16" class="move-bottom-top" style="animation-delay: 8s;">
        <img src="assets/img/c2i3.png" alt="Image 17" class="move-bottom-top" style="animation-delay: 4s;">
        <img src="assets/img/c2i4.png" alt="Image 18" class="move-bottom-top" style="animation-delay: 0s;">
      </div>
      <div class="column3">
        <img src="assets/img/c1i1.png" alt="Image 9" class="move-top-bottom" style="animation-delay: 12s;">
        <img src="assets/img/c1i2.png" alt="Image 10" class="move-top-bottom" style="animation-delay: 8s;">
        <img src="assets/img/c1i3.png" alt="Image 11" class="move-top-bottom" style="animation-delay: 4s;">
        <img src="assets/img/c1i4.png" alt="Image 10" class="move-top-bottom" style="animation-delay: 0s;">
      </div>
      <div class="column1">
        <img src="assets/img/c1i2.png" alt="Image 1" class="move-top-bottom" style="animation-delay: 12s;">
        <img src="assets/img/c1i4.png" alt="Image 2" class="move-top-bottom" style="animation-delay: 8s;">
        <img src="assets/img/c1i1.png" alt="Image 3" class="move-top-bottom" style="animation-delay: 4s;">
        <img src="assets/img/c1i3.png" alt="Image 4" class="move-top-bottom" style="animation-delay: 0s;">
      </div>
      <div class="column2">
        <img src="assets/img/c2i2.png" alt="Image 5" class="move-bottom-top" style="animation-delay: 12s;">
        <img src="assets/img/c2i3.png" alt="Image 6" class="move-bottom-top" style="animation-delay: 8s;">
        <img src="assets/img/c2i4.png" alt="Image 7" class="move-bottom-top" style="animation-delay: 4s;">
        <img src="assets/img/c2i1.png" alt="Image 8" class="move-bottom-top" style="animation-delay: 0s;">
      </div>
      
    </div>

    <!-- Hero Information -->
    <div class="hero-info" data-aos="zoom-in" data-aos-delay="100" style="text-align: right;position: relative; margin-right: 132px;margin-top:3px;">
      <h2 style="font-family:sans-serif;color: black;font-size: 40px;"><span ></span>Book an Appointment with<br><span style="color:#1173B3">Lifestyle medicine</span> experts</h2>
      <p style="font-family: sans-serif; color:black;font-size: 18px;">Optimize your lifestyle and reverse chronic diseases</p>

      <div style="display:flex; align-items: center;position:absolute; gap: 10px; background-color:white; padding: 5px; border-radius: 14px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); height: 92px;width: 1080px;margin-top: 56px;margin-left: -438px; font-family: Arial, sans-serif; flex-wrap: nowrap;">
        <div style="display: flex; align-items: center; gap: 0px;">
          <img src="assets/img/search.png" alt="Icon 1" style="width: 20px; height: 20px;">
          <select style="padding: 10px; border: 1px solid #ccc;color: #8B8E9C; border-radius: 5px; outline:black;border-color: #E7E7E7; width: 377px;height: 60px;" name="filter1">
            <option value="">Condition, procedure, speciality</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
          </select>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
          <img src="assets/img/pin.png" alt="Icon 2" style="width: 20px; height: 20px;">
          <select style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;color: #8B8E9C; outline: none;border-color: #E7E7E7; width: 252px;height: 60px;" name="filter2">
            <option value="">City, state, or zipcode</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
          </select>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
          <img src="assets/img/insu.png" alt="Icon 3" style="width: 20px; height: 20px;">
          <select style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; outline: none;border-color: #E7E7E7;color: #8B8E9C; width: 230px;height: 60px;" name="filter3">
            <option value="">Insurance carrier</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
          </select>
        </div>
        <button style="padding: 10px 20px;background: linear-gradient(271.76deg, #4683D0 17.7%, #7CD0A2 145.75%); color: white; border: none; border-radius: 8px; cursor: pointer; font-size: 16px;width: 157px;height: 60px;box-shadow: 0px 4px 30px 0px #0000000D;
">Find Now</button>
      </div>
    </div>
  </div>

  <style>
    /* Container for hero images */
    .hero-images {
      display: flex;
      gap: 20px;
    }

    .column1 {
      position:fixed;
      width: 247px;
      height: 355px;
      overflow: hidden;
      margin-top: 374px;
      margin-left: 16px;

    }
    .column2 {
      position:relative;
      overflow: hidden;
      width: 247px;
      height: 355px;
      margin-top: 225px;
      margin-left: 280px;
      border-radius: 16px;


    }
    .column4 {
      position: fixed;
      overflow: hidden;
      width: 247px;
      height:355px;
      margin-left: 280px;
      margin-top: -148px;

    }
    .column3 {
      position:fixed;
      width:247px;
      height: 354px;
      margin-top: 1px;
      margin-left: 8px;
      border-radius: 16px;
      overflow: hidden;
    }

    .column1 img, .column2 img, .column3 img, .column4 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 16px;
    }

    /* Keyframes for animations */
    @keyframes moveTopToBottom {
      0% { top: 0; opacity: 1;}
      50% { top: 150px; opacity: 0.5;}
      100% { top: 400px; opacity: 0;}
    }

    @keyframes moveBottomToTop {
      0% { bottom: 0; }
      50% { bottom: 150px; }
      100% { bottom: 400px; }
    }

    .move-top-bottom {
      animation: moveTopToBottom 5s ease-in-out infinite;
    }

    .move-bottom-top {
      animation: moveBottomToTop 5s ease-in-out infinite;
    }
  </style>
</section>
<!-- End Hero Section -->


<div class="slant-line">
  
</div>



<!-- ======= About Us Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">

    <header class="section-header1">
      <p>HOW IT WORKS</p>
      <h3><span style="color:#F1CA72;font-style: italic;">Lifestyle as Medicines:</span>The six pillars</h3>
      
    </header>
    <div style="width: 1001px;height: 31px;display: flex;position:absolute;align-items: center;gap: 10px;">
      <div style="border: 1px solid #ccc;border-radius: 27px;outline: black;border-color: #E7E7E7;padding-top: 5.08px;padding-bottom: 5.08px;padding-left: 16.94px;padding-right: 16.94px;width: 100px;height: 31px;margin-top: -57px;background-color: black;
      color:white;"><p>Nutrition</p>
      </div>
      <div style="border: 1px solid #ccc;
      border-radius: 27px;
      outline: black;
      border-color: #E7E7E7;
      padding-top: 5.08px;
      padding-bottom: 5.08px;
      padding-left: 16.94px;
      padding-right: 16.94px;
      width: 157px;
      height: 31px;
      margin-top: -57px;
      color:black;"><p>Physical Activity</p>
      </div>
      <div style="border: 1px solid #ccc;
      border-radius: 27px;
      outline: black;
      border-color: #E7E7E7;
      padding-top: 5.08px;
      padding-bottom: 5.08px;
      padding-left: 16.94px;
      padding-right: 16.94px;
      width: 166px;
      height: 31px;
      margin-top: -57px;
      color:black;"><p>Restorative Sleep</p>
      </div>
      <div style="border: 1px solid #ccc;
      border-radius: 27px;
      outline: black;
      border-color: #E7E7E7;
      padding-top: 5.08px;
      padding-bottom: 5.08px;
      padding-left: 16.94px;
      padding-right: 16.94px;
      width: 187px;
      height: 31px;
      margin-top: -57px;
      color:black;"><p>Stress management</p>
      </div>
      <div style="border: 1px solid #ccc;
      border-radius: 27px;
      outline: black;
      border-color: #E7E7E7;
      padding-top: 5.08px;
      padding-bottom: 5.08px;
      padding-left: 16.94px;
      padding-right: 16.94px;
      width: 170px;
      height: 31px;
      margin-top: -57px;
      color:black;"><p>Social connection</p>
      </div>
      <div style="border: 1px solid #ccc;
      border-radius: 27px;
      outline: black;
      border-color: #E7E7E7;
      padding-top: 5.08px;
      padding-bottom: 5.08px;
      padding-left: 16.94px;
      padding-right: 16.94px;
      width: 167px;
      height: 31px;
      margin-top: -57px;
      color:black;"><p>Substance abuse</p>
      </div>
    
      
    </div>

    <div class="about-cols-wrapper">
      <div class="row about-cols" id="about-cols" style="margin-top: 58px;height: 466px;">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100" style="padding: 1em;">
          <div class="about-col">
            <div class="img">
              <div style="position: absolute;margin-top: 209px;margin-left: 25px;width: 167px;height: 31px;backdrop-filter: blur(15px);background: #FFFFFFDE;border-radius: 67px;padding-top: 3px;">
                <img src="assets/img/heart.png" style="max-width: 250px;margin-top: -88px;margin-left: -104px;">
              
                <p style="margin-top: -115px;margin-left: 19px;"><span style="font-weight: bold;">121/80</span> mmHg</p>

              </div>
              <img src="assets/img/nutrition.png" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a>Nutrition</a></h2>
            <p>Evidence supports the use of a whole food, plant-predominant diet to prevent, treat and reverse chronic illness.</p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200" style="padding: 1em;">
          <div class="about-col">
            <div class="img">
              <div style="position: absolute;margin-top: 209px;margin-left: 25px;width: 129px;height: 31px;backdrop-filter: blur(15px);background: #FFFFFFDE;border-radius: 67px;padding-top: 3px;">
                <img src="assets/img/heart1.png" style="max-width: 250px;margin-top: -88px;margin-left: -104px;">
              
                <p style="margin-top: -115px;margin-left: 19px;"><span style="font-weight: bold;">32</span> minutes</p>

              </div>
              <img src="assets/img/physicalactivity.png" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a>Physical Activity</a></h2>
            <p>Regular physical activity is key to managing weight, improving mental health, and reducing risk of chronic disease.</p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300" style="padding: 1em;">
          <div class="about-col">
            <div class="img">
              <div style="position: absolute;margin-top: 209px;margin-left: 25px;width: 114px;height: 31px;backdrop-filter: blur(15px);background: #FFFFFFDE;border-radius: 67px;padding-top: 3px;">
                <img src="assets/img/moon.png" style="max-width: 250px;margin-top: -88px;margin-left: -104px;">
              
                <p style="margin-top: -115px;margin-left: 19px;"><span style="font-weight: bold;">8</span> hours</p>

              </div>
              <img src="assets/img/restorativesleep.png" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a>Restorative Sleep</a></h2>
            <p>Consistent, quality sleep is essential for cognitive function and physical health.</p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300" style="padding: 1em;">
          <div class="about-col">
            <div class="img">
              <div style="position: absolute;margin-top: 209px;margin-left: 25px;width: 115px;height: 31px;backdrop-filter: blur(15px);background: #FFFFFFDE;border-radius: 67px;padding-top: 3px;">
                <img src="assets/img/heart.png" style="max-width: 250px;margin-top: -88px;margin-left: -104px;">
              
                <p style="margin-top: -115px;margin-left: 19px;"><span style="font-weight: bold;">60</span> bpm</p>

              </div>
              <img src="assets/img/stress management.png" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a>Stress management</a></h2>
            <p>Effective stress management techniques are crucial for mental well-being and overall health.</p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300" style="padding: 1em;">
          <div class="about-col">
            <div class="img">
              <div style="position: absolute;margin-top: 209px;margin-left: 25px;width: 150px;height: 31px;backdrop-filter: blur(15px);background: #FFFFFFDE;border-radius: 67px;padding-top: 3px;">
                <img src="assets/img/heart1.png" style="max-width: 250px;margin-top: -88px;margin-left: -104px;">
              
                <p style="margin-top: -115px;margin-left: 19px;"><span style="font-weight: bold;">Feeling</span> better</p>

              </div>
              
              <img src="assets/img/socialconn.png" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a>Social connection</a></h2>
            <p>Strong social connections are associated with a lower risk of many chronic diseases and enhanced mental health.</p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300" style="padding: 1em;">
          <div class="about-col">
            <div class="img">
              <div style="position: absolute;margin-top: 209px;margin-left: 25px;width: 115px;height: 31px;backdrop-filter: blur(15px);background: #FFFFFFDE;border-radius: 67px;padding-top: 3px;">
                <img src="assets/img/clock.png" style="max-width: 250px;margin-top: -88px;margin-left: -104px;">
              
                <p style="margin-top: -115px;margin-left: 19px;"><span style="font-weight: bold;">62</span> days</p>

              </div>
              <img src="assets/img/subs.png" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a>Substance Abuse</a></h2>
            <p>Avoiding tobacco, limiting alcohol use, and abstaining from harmful substances are vital for long-term health.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section><!-- End About Us Section -->

<style>
  #about .about-cols-wrapper {
    position: relative;
    overflow-x:auto;
    overflow-y: hidden;  /* Enable horizontal scrolling */
    display:flexbox;
    justify-content:flex-start;
    margin-top: 20px;
  }

  #about .row.about-cols {
    display: flex;  /* Display items in a row */
    gap: 20px;
    flex-wrap: nowrap;  /* Prevent wrapping to next row */
    padding: 0;
    transition: transform 0.3s ease;
  }

  #about .about-col {
    flex: 0 0 auto; /* Prevent columns from stretching or shrinking */
    width: 400px; /* Adjust width of each column */
    margin-right: 20px; /* Add some space between columns */
  }

  .scroll-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }

  .scroll-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
  }

  .scroll-btn:hover {
    background-color: #e0e0e0;
  }
</style>

<script>
  // Scroll to the left
  document.getElementById('scroll-left').addEventListener('click', function() {
    let aboutCols = document.getElementById('about-cols');
    let currentTransform = window.getComputedStyle(aboutCols).transform;
    let currentX = 0;

    if (currentTransform !== 'none') {
      let matrix = currentTransform.match(/matrix\(([^)]+)\)/)[1].split(', ');
      currentX = parseFloat(matrix[4]);
    }

    aboutCols.style.transform = `translateX(${currentX + 300}px)`; // Adjust the scroll distance
  });

  // Scroll to the right
  document.getElementById('scroll-right').addEventListener('click', function() {
    let aboutCols = document.getElementById('about-cols');
    let currentTransform = window.getComputedStyle(aboutCols).transform;
    let currentX = 0;

    if (currentTransform !== 'none') {
      let matrix = currentTransform.match(/matrix\(([^)]+)\)/)[1].split(', ');
      currentX = parseFloat(matrix[4]);
    }

    aboutCols.style.transform = `translateX(${currentX - 300}px)`; // Adjust the scroll distance
  });
</script>


